<form action="/shorteners" method="POST" class="form">
  <div class="container">
    <input type=" text" class="input-group-text" placeholder="input URL here" name="inputURL"></input>
    <button type="submit" class="btn btn-shorten">shorten</button>
  </div>
</form>