<form action="/">
  <p>Success! Please use the link:</p>
  <a href="/yuncut/{{Shortener.randomURL}}">
    http://localhost:3000/yuncut/{{Shortener.randomURL }}
  </a>

  <div class="container">
    <button type="button" class="btn btn-copy">Copy</button>
  </div>
</form>