<h1>Success! Please use the link:</h1>
<form action="/">
  <a href="/yuncut/{{Shortener.randomURL}}">
    http://localhost:3000/yuncut/{{Shortener.randomURL }}
  </a>
  <button>Copy</button>
</form>